# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore all JavaScript files in the tests directory
tests/**/*.js

# Ignore specific file
src/database/config.ts

# Ignore all files with .test.js extension
*.test.js
